<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a style="font-size: 25px" class="navbar-brand" href="/">Веб-сервис для управления движением денежных средств (ДДС)</a>
        <ul class="nav d-flex align-items-center me-3">
            <li class="nav-item navbar-item">
                <a style="font-size: 25px" class="nav-link" href="/dicts">Справочники</a>
            </li>
        </ul>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>