{% extends "base.html" %}

{% block content %}

<h1>Тестовое задание</h1>
<div>
    Автор: Евстратова Мария
</div>
<br>
<h1>Список записей о движении денежных средств:</h1>
<a href="add_operation" class="btn btn-secondary">Добавить запись</a>
<br><br>
<div>
    {% for operation in operations %}
    <div style="font-size: 40px">
        Запись {{ operation.id }}
    </div>
    <div class="col-md6 border rounded">
        <div style="font-size: 20px">
        </div>
        <div style="font-size: 20px">
            Дата создания записи - {{ operation.operation_date }}
        </div>
        <div style="font-size: 20px">
            Статус публикации - {{ operation.status }}
        </div>
        <div style="font-size: 20px">
            Тип операции - {{ operation.operation_type }}
        </div>
        <div style="font-size: 20px">
            Категория - {{ operation.category }}
        </div>
        <div style="font-size: 20px">
            Подкатегория - {{ operation.subcategory }}
        </div>
        <div style="font-size: 20px">
            Сумма - {{ operation.amount }}р.
        </div>
        {% if operation.comment != '' %}
        <div style="font-size: 20px">
            Комментарий - {{ operation.comment }}
        </div>
        {% endif %}
        <div>

<!--            <a href="/" class="btn btn-warning">-->
<!--                Изменить-->
<!--            </a>-->
<!--            <a href="/" class="btn btn-danger">-->
<!--                Удалить-->
<!--            </a>-->

            <a href="/edit_operation/{{ operation.id }}" class="btn btn-warning">
                Изменить
            </a>
<!--            <a href="delete_operation/{{ operation.id }}" class="btn btn-danger">-->
<!--                Удалить-->
<!--            </a>-->
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}